@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Skranji:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'Merriweather Sans';
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
    src: url(./merriweather-sans.woff2) format('woff2');
}