@import url(./fonts/fonts.css);
body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(22, 27, 34);
    color: white;
    font-size: 1.2rem;
    --accent-bg:white;
    --primary:rgb(11, 1, 104);
    --video-bg: rgb(22, 27, 34);
    --border: 2px solid rgba(128, 128, 128, 0.05);
    width: 100vw;
    height: 100dvh;
}
*, :root{
    overflow: hidden hidden;
    font-family:"Merriweather Sans", sans-serif;
}
body{
    background-image: linear-gradient(to bottom, #b4d1f5, #fff0d2, #d2d2fd);
}
nav{
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text-primary{
    color: var(--primary);
}
button, a.btn{
    outline: none;
    border: none;
    background-color: var(--accent-bg);
    font-size: 1rem;
    color: var(--primary);
    padding: .8rem 1.1rem;
    cursor: pointer;
    border-radius: 4rem;
    text-decoration: none;
}
h1{
    font-size: 9rem;
    margin: 0px;
    text-align: center;
}
.title{
    color: var(--primary);
    opacity: .1;
}
.title-header{
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr;
    justify-content: center;
    align-items: center;
    >*{
        grid-area: 1/1;
        text-align: center;
    }
}
.title-header__text{
    >h3{
        margin: .2rem 0rem;
    }
}

.symptoms-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .symptoms-form__input{
        display: flex;
        flex-direction: row;
        --background-color:rgba(255, 255, 255, 0.4);
    }
    input{
        border: none;
        outline: none;
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: .2rem;
        background-color: var(--background-color);
    }
    button{
        border-radius: 0px;
        background-color: var(--background-color);
    }
}