@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/material-icons.woff2) format('woff2');
}
.material-symbols-outlined, .mso {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.skranji-regular {
  font-family: "Skranji", system-ui;
  font-weight: 400 700;
  font-style: normal;
}

.skranji-bold {
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: "Skranji", "Merriweather Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-anchor: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-image: linear-gradient(to bottom, #b4d1f5, #fff0d2, #d2d2fd);
  background-size: cover;
  min-height: 100dvh;
  font-family: "Skranji", "Merriweather Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#root{
  @apply p-6 md:p-12 lg:p-20 lg:py-10;
}
.btn{
  @apply bg-white px-5 py-2 text-blue-950 rounded-r-full rounded-l-full;
}
.progress-bar{
  --progress-value:0%;
  transition: all 1s;
  background-image: linear-gradient(to right, rgba(161, 214, 255, 0.542) var(--progress-value), transparent var(--progress-value));
}